   
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Galleria</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap-min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/css/album.css" rel="stylesheet"/>
  </head>

  <body>
  
   
    

    
    <div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Galleria</a>
        <a href= "/" class="navbar-brand">Home</a>
        
      </div>
    </div>

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Quadri</h1>
        <p class="lead text-muted">Scegli un'opera</p>
        </div>
        <button onclick="location.href='/listaAutori'">Autori</button>
    </section>

    <div class="album text-muted">
      <div class="container">
		
	 	<div th:if="${not #lists.isEmpty(quadri)}" class="list-group"> 
			<table class="table table-hover" id="myTable">
				<thead>
					<tr>
						<th onclick="sortTable(0)">Titolo</th>
						<th onclick="sortTable(1)">Anno</th>
						<th onclick="sortTable(2)">Tecnica</th>
						<th onclick="sortTable(3)">Dimensioni</th>
						<th onclick="sortTable(3)">Autore</th>
					</tr>
				</thead>
				<tr th:each="quadro : ${quadri}">
					<td th:text="${quadro.titolo}"></td>
					<td th:text="${quadro.anno}"></td>
					<td th:text="${quadro.tecnica}"></td>
					<td th:text="${quadro.dimensioni}"></td>
					<td><a target="_black" th:href="${quadro.urlImage}" title="${quadro.titolo}"><b>Guarda l'opera</b></a></td>
					<td>  
					<a th:href="@{'/infoAutore'(id=${quadro.autore.id})}"><b th:text="${quadro.autore.nome} +' '+ ${quadro.autore.cognome}"></b></a>
					</td>
				</tr>
			</table>
		</div>

      </div>
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
       </div>
    </footer>
  </body>
</html>